In [2]:
import pandas as pd

ARQ = '../data/raw/operacoes-exportacao-operacoes-de-exportacao-pre-embarque.csv'

df = pd.read_csv(ARQ,
                sep = ';',
                decimal = ',',
                encoding = 'latin1'
)

In [3]:
df.head()

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_em_reais,fonte_de_recurso_desembolsos,modalidade_de_apoio,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
0,MINERVA S.A.,**.*20.377/0001-**,SP,BARRETOS,3505500,08/01/2002,7.028.400,7.035.625,RECURSOS LIVRES - FAT,REEMBOLSÁVEL,...,Produtos Alimentícios,C1011200,"ABATE DE RESES, EXCETO SUINOS",INDUSTRIA,ALIMENTO E BEBIDA,GRANDE,PRIVADA,BOSTON NEGOCIOS E PARTICIPACOES LTDA.,33.140.666.0001-02,LIQUIDADA
1,MINERVA S.A.,**.*20.377/0001-**,SP,BARRETOS,3505500,08/01/2002,7.028.400,7.035.625,RECURSOS LIVRES - FAT,REEMBOLSÁVEL,...,Produtos Alimentícios,C1011200,"ABATE DE RESES, EXCETO SUINOS",INDUSTRIA,ALIMENTO E BEBIDA,GRANDE,PRIVADA,BOSTON NEGOCIOS E PARTICIPACOES LTDA.,33.140.666.0001-02,LIQUIDADA
2,FRUTIVITA S/A,**.*09.838/0001-**,PE,PETROLINA,2611101,09/01/2002,485.967,486.416,RECURSOS LIVRES - FAT,REEMBOLSÁVEL,...,Agropecuária,A0119900,CULT PLANTAS LAVOURA TEMPORARIA NAO ESPECIFICA...,AGROPECUÁRIA,AGROPECUÁRIA,PEQUENA,PRIVADA,BANCO BRADESCO FINANCIAMENTOS S.A.,07.207.996.0001-50,LIQUIDADA
3,MINERVA S.A.,**.*20.377/0001-**,SP,BARRETOS,3505500,10/01/2002,4.758.800,4.765.159,RECURSOS LIVRES - FAT,REEMBOLSÁVEL,...,Produtos Alimentícios,C1011200,"ABATE DE RESES, EXCETO SUINOS",INDUSTRIA,ALIMENTO E BEBIDA,GRANDE,PRIVADA,ITAU UNIBANCO S.A.,60.701.190.0001-04,LIQUIDADA
4,CALCADOS CHICARONI LTDA,**.*51.979/0001-**,SP,FRANCA,3516200,10/01/2002,120.469,120.618,RECURSOS LIVRES - FAT,REEMBOLSÁVEL,...,"Couro, artefato e calçado",C1530000,FABRICACAO DE CALCADOS,INDUSTRIA,OUTRAS,MÉDIA,PRIVADA,BANCO FIBRA SA,58.616.418.0001-08,LIQUIDADA

In [4]:
print(f'O dataset possui {df.shape[0]} linhas e {df.shape[1]} colunas.')

O dataset possui 7252 linhas e 26 colunas.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7252 entries, 0 to 7251
Data columns (total 26 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   cliente                             7252 non-null   object
 1   cpf_cnpj                            7252 non-null   object
 2   uf                                  7252 non-null   object
 3   municipio                           7252 non-null   object
 4   municipio_codigo                    7252 non-null   int64
 5   data_da_contratacao                 7252 non-null   object
 6   valor_da_operacao_em_reais          7252 non-null   object
 7   valor_desembolsado_em_reais         7237 non-null   object
 8   fonte_de_recurso_desembolsos        7252 non-null   object
 9   modalidade_de_apoio                 7252 non-null   object
 10  forma_de_apoio                      7252 non-null   object
 11  produto                             7252 non-null   object
 12  instrumento_financeiro              7252 non-null   object
 13  inovacao                            7252 non-null   object
 14  area_operacional                    7252 non-null   object
 15  setor_cnae                          7252 non-null   object
 16  subsetor_cnae_agrupado              7252 non-null   object
 17  subsetor_cnae_codigo                7252 non-null   object
 18  subsetor_cnae_nome                  7252 non-null   object
 19  setor_bndes                         7252 non-null   object
 20  subsetor_bndes                      7252 non-null   object
 21  porte_do_cliente                    7252 non-null   object
 22  natureza_do_cliente                 7252 non-null   object
 23  instituicao_financeira_credenciada  7252 non-null   object
 24  cnpj_do_agente_financeiro           7252 non-null   object
 25  situacao_da_operacao                7252 non-null   object
dtypes: int64(1), object(25)
memory usage: 1.4+ MB

In [99]:
df['data_da_contratacao'] = pd.to_datetime(df['data_da_contratacao'], dayfirst=True, errors='coerce')

nulos = df['data_da_contratacao'].isnull().sum()
print(f"\nNulos após a conversão: {nulos}")

Nulos após a conversão: 0

In [100]:
colunas_valor = ['valor_da_operacao_em_reais', 'valor_desembolsado_em_reais']
for coluna in colunas_valor:
    if df[coluna].dtype == 'object':
        df[coluna] = df[coluna].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).str.replace('R$', '', regex=False).str.strip()
        df[coluna] = pd.to_numeric(df[coluna], errors='coerce')

nulos_valor_operacao = df['valor_da_operacao_em_reais'].isnull().sum()
print(f"\nNulos em valor operação após a conversão: {nulos_valor_operacao}")

nulos_valor_desembolsado = df['valor_desembolsado_em_reais'].isnull().sum()
print(f"\nNulos em valor desembolsado após a conversão: {nulos_valor_desembolsado}")

Nulos em valor operação após a conversão: 0

Nulos em valor desembolsado após a conversão: 15

In [101]:
# Por serem poucas linhas com valores nulos, vamos removê-las
df = df.dropna(subset=['valor_desembolsado_em_reais'])
nulos_valor_desembolsado = df['valor_desembolsado_em_reais'].isnull().sum()
print(f"\nNulos em valor desembolsado: {nulos_valor_desembolsado}")

Nulos em valor desembolsado: 0

In [102]:
df = df.drop_duplicates()

print(f"Tamanho após drop_duplicates(): {len(df)} linhas")

Tamanho após drop_duplicates(): 7189 linhas

In [103]:
# Salvando o DataFrame limpo em formato Pickle para manter a integridade dos dados
caminho_pickle = '../data/processed/op-exp-pre-embarque.pickle'

df.to_pickle(caminho_pickle)

print(f"\nBase salva em formato Pickle em: {caminho_pickle}")

Base salva em formato Pickle em: ../data/processed/op-exp-pre-embarque.pickle